/* 1479-769 */

@media (max-width:1301px) {
    /* header */
    .header_class {
        padding-inline: 56px;
    }

    /* section */
    .section_text {
        padding-inline: 57px;

    }

    /* section 2 */
    .section_main_2 {
        padding-inline: 57px;
        padding-bottom: 48px;
        /* height: 485px; */
    }
    .card_section {
        overflow-x: scroll;
    }

    .card_section_article {
        flex: 1 0 380px;
    }

    /* section_main_3 */

    .card_section_2 { 
        width: 100;
        object-fit:cover;
        overflow-x: scroll;
    }

    .section_main_3 {
        padding-inline: 57px;
       
    }
    .responsive_none{
        display: none;
    }
    .card_section_2_aricle {
        width: min(100%, 583px);
       
    }
    .card_photo {
        object-fit:cover ;
    }

}

@media (max-width:835px) {
 
    /* header */
    .header_class {
        padding-inline: 46px;
    }

    /* section */
    .section_text {
        padding-inline: 46px;
    }

    /* section 2 */
    .section_main_2 {
        padding-inline: 46px;
        padding-bottom: 40px;
        height: 469px;
       
        
    }
    

    .discovery_none {
        display: none;
    }
    .section_main_3 {
        padding-inline: 46px;
       
    }




}


