/* conteiner */
.conteiner {
    width: min(100%, 1440px);
    margin: auto; 
}

/* header */
.header_class { 
    background: #FA793C;
    display: flex;
   align-items: center; 
    justify-content: space-between;padding: 6px 82px;
}

span {
 display: flex;
 align-items: center;
}

.header_text {
    font-family: Pridi;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.9px;
    color: #FFFFFF;
    padding-left: 15px;
    
   
}

.header_nav_ul{
  display: flex;
  column-gap: 32px;
}

.active {
    font-family: ABeeZee;
    font-size: 16px;
font-weight: 400;
line-height: 24px;
color:  #FFFFFF;
transition-property: all;
transition-duration: 1s; 
cursor: pointer;
}
.burger_photo{
    display: none;
}

.active:hover {
    color: rgb(0, 0, 0);
}

/* section */
.section_class {
    height: 550px;
    background-image: url(../images/cover.svg);
    background-position: center;
    
}
.section_h2 {
    font-family: Kanit;
font-size: 50px;
font-weight: 400;
line-height: 75px;
text-align: center;
color: #FFFFFF;
padding-top: 185px;
transition-property: all;
transition-duration: 1s; 
cursor: pointer;
}

.section_h2:hover{
color: #B53B1B;
 
}

.section_text {
    font-family: Kanit;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: center;
color: #FFFFFF;
margin-inline: 82px;
}

/* section_2 */

.section_main_2 {
  background: #FA793C;
  height: 533px;
  background-position: center;
}

.section_main_h3 {
    font-family: Kanit;
font-size: 30px;
font-weight: 500;
line-height: 45px;
text-align: center;
color: #FFFFFF;
padding-top: 72px;
padding-bottom: 32px;
}

.card_section{
    display: flex;
    column-gap: 36px;
    justify-content: center;
}

.card_section_article{
    width: 412px;
    background: #000000;
    transition-property: all;
    transition-duration: 1s; 
    cursor: pointer;
}
.card_section_article:hover {
    width: 500px;
}

.discovery_photo {
    width: 100%;
    object-fit: cover;  
}

.text_article {
    padding: 16px;
}

.card_section_article_h4 {
    font-family: Kanit;
font-size: 24px;
font-weight: 500;
line-height: 32px;
color: #FFFFFF;
padding-bottom: 8px;
}

.card_section_article_text{
    font-family: Kanit;
font-size: 16px;
font-weight: 300;
line-height: 24px;
color:  #D9D9D9;
}

/* section_3 and article*/

.section_main_3 {
    background: #000000;
    width: min(100%, 1440px);
     
}

.section_main_3_h5 {
    font-family: Kanit;
font-size: 30px;
font-weight: 400;
line-height: 45px;
text-align: center;
color: #FA793C;
padding-top: 72px;
padding-bottom: 32px; 
}


.card_section_2 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 36px;
    justify-content: center;
    padding-bottom: 72px;
    
}

.card_section_2_aricle{
    border: 2px solid #FA793C;
    border-radius: 10px;
    padding: 16px;
    transition-property: all;
    transition-duration: 1s;
    cursor: pointer; 
    width: min(100%, 412px);
}

/* article hover */

.card_section_2_aricle:hover {
    box-shadow: 0px 5px 10px blue,  0px 5px 20px rgb(102, 235, 26), 0px 5px 30px rgb(216, 134, 11);
   
}

.frame_class {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.card_photo {
    width: 100%;
    object-fit:cover;
    flex: 1 1 32%;
}

.card_section_2_p{
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
color: #FA793C;
padding-top: 8px;
}

.money_h4 {
     font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 32px;
color: #B53B1B;
display: inline;

}

.button_cart{
    background-color: #000000;
    border: none;
}

/* footer */

footer {
    background: #FA793C;
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;

}

.footer_text{
    font-family: Pridi;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.9px;
    color: #FFFFFF;
    margin-left: 15px;
}